<div id="about" lang="pl">
  <v-container>
    <v-layout>
      <v-flex offset-xs2>

        <router-link to="/" active-class='active'><a>Home</a></router-link>
        <h2 class="my-3">Instrukcja obsługi</h2>

        <p class="header">1. Do czego służy ta aplikacja? </p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aplikacja pozwala znaleźć developerów
          do nowego projektu, uwzględniając zgłoszone przez klienta<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;umiejętności (znajomość języków).
          Poziom znajomości danego języka określony jest w skali od 5 (expert),<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;do 1 (początkujący)</p>

        <p class="header">2. Czy można posortować otrzymane dane ?</p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tak. Ww tym celu, najedź myszą na jeden
          z nagłówków kolumn: 'Title', 'Rank 1', 'Rank 2', lub 'Rank 3'<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i kliknij w przylegającą do niego ikonkę strzałki.
          Jej kierunek określa kierunek sortowania.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chcąc posortować w przeciwnym, kliknij ją ponownie.</p>

        <p class="header">3. Czy można wyszukiwać imiona lub nazwiska wśród rekordów niewidocznych na ekranie ?</p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tak. W tym celu, wpisz szukane słowo do pola
          'Find' i wciśnij przycisk o tej samej nazwie</p>

        <p class="header">4. Jak edytować dane ?</p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wciskając ikonkę ołówka umieszczoną w rzędzie
          z danymi, które Cię interesują </p>

        <p class="header">5. Jak skasować dany rekord ?</p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Klikając w ikonkę śmietnika</p>

        <p class="header">6. Jak stworzyć listę wybranych developerów ? </p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kliknij dwukrotnie w dowolnym miejscu danych
          developera. W efekcie, na przycisku 'Selected' pojawi się <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;aktualna ilość wybranych pozycji</p>

        <p class="header">7. Jak wysłać maile do wybranych osób ? </p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Po wybraniu dwuklikiem kolejnych osób,
          nagnieć przycisk 'Selected' a potem 'Email'</p>

        <p class="header">8. Jak dopisać dane nowego developera ? </p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kliknij przycisk 'New Dev', wypełniając
          wyświetlone pola i wciskając przycisk 'Save'</p>

        <p class="header">9. Jak stworzyć lub zmienić rezerwację terminów developera ? </p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nagnieć ikonkę kalendarza wybranego
          developera i przewiń kalendarz do wybranego miesiąca i klikając, <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;zaznaczaj lub odznaczaj wybrane daty</p>

      </v-flex>
    </v-layout>
  </v-container>
</div>

