<div id="main">
  <b-container>

    <b-row class='my-3'>
      <b-col>
        <router-link to="/" active-class='active'><a>Home</a></router-link>
        <h4 class="my-2">Instrukcja obsługi</h4>
      </b-col>
    </b-row>

    <b-row class='mt-3'>
      <b-col>
        <p class="header">1. Do czego służy ta aplikacja? </p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aplikacja pozwala znaleźć developerów do nowego projektu, uwzględniając zgłoszone przez klienta umiejętności (znajomość języków, frameworków).<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Poziom znajomości danego języka określony jest w skali od 5 (expert), do 1 (początkujący)</p>

        <p class="header">2. Czy można posortować otrzymane dane ?</p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tak. Ww tym celu, najedź myszą na jeden z nagłówków kolumn: 'Title', 'Rank 1', 'Rank 2', lub 'Rank 3' i kliknij w przylegającą do niego ikonkę strzałki.<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jej kierunek określa kierunek sortowania. Chcąc posortować w przeciwnym, kliknij na strałkę ponownie.</p>

        <p class="header">3. Czy można wyszukiwać po imionach lub nazwiskach wśród rekordów niewidocznych na ekranie ?</p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tak. W tym celu, wpisz szukane słowo do pola 'Find' i wciśnij przycisk o tej samej nazwie</p>

        <p class="header">4. Jak edytować dane ?</p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wciskając ikonkę ołówka umieszczoną w rzędzie z danymi, które Cię interesują </p>

        <p class="header">5. Jak skasować dany rekord ?</p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Klikając w ikonkę śmietnika</p>

        <p class="header">6. Jak stworzyć listę wybranych programów ? </p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dwukrotnie klikając w dowolnym miejscu linii z tym programem
            W efekcie kliknięcia, na przycisku 'Selected' pojawi się aktualna ilość wybranych rekordów </p>

        <p class="header">7. Jak wysłać maile do wybranych osób ? </p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Po wybraniu dwuklikiem kolejnych osób, nanieć przycisk 'Selected' a potem 'Email'</p>

        <p class="header">8. Jak dopisać dane nowego developera ? </p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Klikając przycisk 'New Dev', wypełniając wyświetlone pola i wciskając przycisk 'Save'</p>

        <p class="header">9. Jak zmieniać ilość wyświetlanych rekordów ? </p>
        <p class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Posługując się kontrolkami paginacji, umieszczonymiw ostatnim rzędzie tabeli, po prawej stronie</p>

      </b-col>
    </b-row>

  </b-container>
</div>

