<div id="main">
  <v-toolbar flat color="grey">
    <v-toolbar-title>Skill Bill</v-toolbar-title>

      <router-link to="/about"
                   active-class="active"
                   class="ml-5">
        <a>Pomoc</a>
      </router-link>

    <v-spacer></v-spacer>

    <v-layout xs12 sm1 d-flex ml-2>
      <v-text-field data-test='find' v-model="find"
        append-icon="search"
        clearable
        label="Find"
        single-line
        box
        hide-details>
      </v-text-field>


      <v-btn data-test='btnFind' @click="onFind" color="primary" dark class="mt-3 mr-5">Find</v-btn>
      <v-btn data-test='btnSelected' @click="onSelected" color="primary" dark class="mt-3 ml-5 mr-0">Selected {{ dblClickedDevs }}</v-btn>
      <v-btn data-test='btnReset' @click="onResetSelected" color="primary" dark class="mt-3">Reset</v-btn>

      <v-btn data-test='btnEmail' @click="onEmail" :disabled="emailDisabled" color="primary" dark class="mt-3">Email</v-btn>

      <v-btn data-test='btnNewDev' @click="onNewDev" slot="activator" color="primary" dark class="mt-3 mr-0">New Dev</v-btn>
    </v-layout>

  </v-toolbar>

</div>
