<div id="app">
  <v-app class="mx-5 my-1">
    <div>
      <v-toolbar flat color="grey">
        <v-toolbar-title>Skill Bill</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-flex xs8 sm4 md2 ml-0 mr-5>
          <v-text-field v-model="search"
                        append-icon="search"
                        clearable
                        label="Search"
                        single-line
                        box
                        hide-details>
          </v-text-field>
        </v-flex>

        <v-btn color="primary" dark class="mb-2">Selected</v-btn>
        <v-btn color="primary" dark class="mb-2">Reset</v-btn>
        <v-btn color="primary" dark class="mb-2">Email</v-btn>


        <v-dialog v-model="dialog" max-width="500px">

          <v-btn slot="activator" color="primary" dark class="mt-3">New Dev</v-btn>

          <v-card>

            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>

                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.first" label="First"></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.last" label="Last"></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.title" label="Title"></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.skill_1" label="Skill 1"></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.rank_1" label="Rank 1"></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.skill_2" label="Skill 2"></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.rank_2" label="Rank 2"></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.skill_3" label="Skill 3"></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.rank_3" label="Rank 3"></v-text-field>
                  </v-flex>

                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
            </v-card-actions>

          </v-card>
        </v-dialog>
      </v-toolbar>



      <div >
        <v-layout class="filters-row">

          <v-flex xs12 sm1 d-flex offset-xs1 class="filters">
            <v-select :items="title" label="Title" standard></v-select>
          </v-flex>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <v-flex xs12 sm1 d-flex offset-xs0>
            <v-select :items="skills" label="Skill 1" standard class="filters" clearable dense></v-select>
          </v-flex>


          <v-flex xs12 sm1 d-flex mx-0>
            <v-select :items="ranks" label="Rank 1" standard class="filters" clearable dense></v-select>
          </v-flex>


          <v-flex xs12 sm1 d-flex mx-0>
            <v-select :items="skills" label="Skill 2" standard class="filters" clearable dense></v-select>
          </v-flex>


          <v-flex xs12 sm1 d-flex mx-0>
            <v-select :items="ranks" label="Rank 2" standard class="filters" clearable dense></v-select>
          </v-flex>


          <v-flex xs12 sm1 d-flex mx-0>
            <v-select :items="skills" label="Skill 3" standard class="filters" clearable dense></v-select>
          </v-flex>


          <v-flex xs12 sm1 d-flex ml-0 mr-0>
            <v-select :items="ranks" label="Rank 3" standard class="filters" clearable dense></v-select>
          </v-flex>

          <v-btn color="primary" dark class="mt-3 ml-5">Search</v-btn>
          <v-btn color="primary" dark class="mt-3 mr-2">Reset</v-btn>
<!--
 -->

        </v-layout>
      </div>


      <v-data-table :headers="headers"
                    :items="devs"
                    :search="search"
                    :rows-per-page-items="rowsPerPageItems"
                    :pagination.sync="pagination"
                    :loading="loading"
                    class="elevation-6"
                    dark>


        <template slot="items" slot-scope="props">

          <td class="text-xs-left body-2">{{ props.item.id }}</td>
          <td class="text-xs-left body-2">{{ props.item.title }}</td>
          <td class="text-xs-left body-2">{{ props.item.first }}</td>
          <td class="text-xs-left body-2">{{ props.item.last }}</td>



          <td class="text-xs-left body-2">{{ props.item.skill_1 }}</td>
          <td class="text-xs-left body-2">{{ props.item.rank_1 }}</td>

          <td class="text-xs-left body-2">{{ props.item.skill_2 }}</td>
          <td class="text-xs-left body-2">{{ props.item.rank_2 }}</td>

          <td class="text-xs-left body-2">{{ props.item.skill_3 }}</td>
          <td class="text-xs-left body-2">{{ props.item.rank_3 }}</td>

          <td class="text-xs-left body-2">{{ props.item.city }}</td>

          <td class="text-xs-left body-2">
              <v-img :src = "props.item.picture"
                     aspect-ratio="1.25">
              </v-img>

          </td>



          <td class="justify-center layout px-0">

            <v-icon small
                    class="mr-2"
                    @click="editItem(props.item)">
                    edit
            </v-icon>

            <v-icon small
                    @click="deleteItem(props.item)">
                    delete
            </v-icon>

          </td>
        </template>

        <template slot="no-data">
          <v-btn color="primary" @click="initialize">Reset</v-btn>
        </template>

        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>


      </v-data-table>


    </div>
  </v-app>
</div>
