<div id="app">
  <v-app class="mx-0 my-1">
    <div>

      <v-dialog v-model="dialog" max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>

                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.first" label="First"></v-text-field>
                </v-flex>

                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.last" label="Last"></v-text-field>
                </v-flex>

                <v-flex xs12 sm6 md4>
                  <v-select v-model="editedItem.title" :items="title"
                    label="Title" standard
                    class="filters" clearable dense> </v-select>
                </v-flex>

                <v-flex xs12 sm6 md4>
                  <v-select v-model="editedItem.skill_1" :items="skills"
                    label="Skill 1" standard
                    class="filters" clearable dense> </v-select>
                </v-flex>


                <v-flex xs12 sm6 md4>
                  <v-select v-model="editedItem.rank_1" :items="ranks"
                    label="Rank 1" standard class="filters"
                    clearable dense></v-select>
                </v-flex>

                <v-flex xs12 sm6 md4>
                  <v-select v-model="editedItem.skill_2" :items="skills"
                    label="Skill 2" standard
                    class="filters" clearable dense> </v-select>
                </v-flex>

                <v-flex xs12 sm6 md4>
                  <v-select v-model="editedItem.rank_2" :items="ranks"
                    label="Rank 2" standard class="filters"
                    clearable dense></v-select>
                </v-flex>

                <v-flex xs12 sm6 md4>
                  <v-select v-model="editedItem.skill_3" :items="skills"
                    label="Skill 3" standard
                    class="filters" clearable dense> </v-select>
                </v-flex>

                <v-flex xs12 sm6 md4>
                  <v-select v-model="editedItem.rank_3" :items="ranks"
                    label="Rank 3" standard class="filters"
                    clearable dense></v-select>
                </v-flex>

              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="onNewDevClose">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="onNewDevSave">Save</v-btn>
          </v-card-actions>

        </v-card>
      </v-dialog>

      <v-dialog v-model="calendar"
        color="blue"
        header-color="primary"
        landscape="false"
        max-width="320px">

        <v-card>
          <v-card-title>
            <h3 id="calendar_heading">#{{ devId }}&nbsp;&nbsp;&nbsp;&nbsp;{{ devFirst }} {{ devLast }} </h3>

            <v-date-picker v-model="picker"
              :landscape="false"
              :reactive="true"
              :allowed-dates="calendarAllowedDates"
              multiple
              min="2019-01-15"
              max="2020-12-31">
            </v-date-picker>

          </v-card-title>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="onCalendarClose">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="onCalendarSave">Save</v-btn>
          </v-card-actions>

        </v-card>
      </v-dialog>

<!----------- DATA TABLE                      ------------------------------------------------------------>

      <v-data-table :headers="headers"
        :items="devs"
        :search="search"
        :rows-per-page-items="rowsPerPageItems"
        :pagination.sync="pagination"
        :loading="loading"
        @update:pagination="updatePagination"
        v-model="selected"
        class="elevation-6"
        dark>

        <template slot="items" slot-scope="props">
          <tr :active="props.selected"
              @click="props.selected = !props.selected"
              @dblclick="onCalendar(props.item)"
              @change="onCheckbox(props.item)">

            <td>
              <v-checkbox v-model="props.selected"
                primary
                hide-details>
              </v-checkbox>
            </td>

            <td class="text-xs-left body-2">{{ props.item.id }}</td>
            <td class="text-xs-left body-2">{{ props.item.title }}</td>
            <td class="text-xs-left body-2">{{ props.item.first }}</td>
            <td class="text-xs-left body-2">{{ props.item.last }}</td>
            <td class="text-xs-left body-2">{{ props.item.skill_1 }}</td>
            <td class="text-xs-left body-2">{{ props.item.rank_1 }}</td>
            <td class="text-xs-left body-2">{{ props.item.skill_2 }}</td>
            <td class="text-xs-left body-2">{{ props.item.rank_2 }}</td>
            <td class="text-xs-left body-2">{{ props.item.skill_3 }}</td>
            <td class="text-xs-left body-2">{{ props.item.rank_3 }}</td>

            <!-- <td class="text-xs-left body-2">
                <v-img :src = "props.item.picture" aspect-ratio="1.3"></v-img>
              </td> -->
            <td class="justify-center layout px-0">
              <v-icon small
                class="mr-2"
                @click="onEditItem(props.item)">
                edit
              </v-icon>

              <v-icon small
                @click="onDeleteItem(props.item)">
                delete
              </v-icon>
            </td>

          </tr>
        </template>

        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>

      </v-data-table>

    </div>
  </v-app>
</div>
